In [16]:
# QUESTION 9. Write a function to calculate the mean of a list of numbers.

# So here if my list is not numbers then it will only check if the list is empty. If it it is it will return None. If I change my [1] with 'one' it will be false (not empty)
# then that means it will throw me an error.

def mean(numbers):
  return sum(numbers) / len(numbers) if numbers else None

numbers = [10, 20, 30, 68, 17, 1, 25, 60]
print(mean(numbers))

28.875

In [6]:
#I can also use the inbuilt statistics function
import statistics

numbers = [10, 20, 30, 68, 17, 1, 25, 60]
numbers = statistics.mean(numbers)
print(numbers)

28.875

In [24]:
# QUESTION 10. Create a function that loads a CSV file and returns a pandas DataFrame.

import pandas as pd

def load_csv(file_path):
    return pd.read_csv(file_path)

In [23]:
# Here I am going to load a DataFrame from my drive

from google.colab import drive

drive.mount('/content/drive')
pd.read_csv('/content/drive/MyDrive/tips - tips (1).csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]